@model ClaimWebApp.Models.ClaimRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClaimRequest</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <section class="container pt-1">
            <div class="row pt-1">
                <input hidden id="id" asp-for="Id" class="form-control form-control-sm" />
                <input hidden id="id" asp-for="Status" class="form-control form-control-sm" />
                <div class="col col-sm-4">
                    <label asp-for="Name" class="control-label-sm font-weight-bold"></label><br />
                    <input id="receiverNameBox" asp-for="Name" class="form-control form-control-sm" />
                    <span asp-validation-for='Name' class='text-danger'></span>
                </div>
                <div class="col col-sm-4">
                    <label asp-for="LastName" class="control-label-sm font-weight-bold"></label><br />
                    <input type="text" id="receiverEmailBox" asp-for="LastName" class="form-control form-control-sm" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col col-sm-4">
                    <label asp-for="Email" class="control-label-sm font-weight-bold"></label><br />
                    <input type="text" id="receiverDepartmentBox" asp-for="Email" class="form-control form-control-sm" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>


        </section>
        <section>
            <div class="card-body">
                <section class="container pt-1">
                    <label class="form-check-label">
                        <input type="radio" id="mileage" class="form-check-input" asp-for="ClaimType" value="Mileage" checked>Mileage Claim <br />
                        <input type="radio" id="expense" class="form-check-input" asp-for="ClaimType" value="Expense">Expense Claim
                    </label>
                </section>
            </div>
        </section>
        <div class="card" id="mileageSelected">
            <section class="container pt-1">
                <p>Please enter your daily trip details below.</p>
                <div class="table-responsive table-responsive-sm">
                    <table class="table table-sm table-bordered p-0" id="tblMileageData">
                        <thead class="bg-light">
                            <tr>
                                <th class="text-center w-25"><label asp-for="MileageClaims[0].TripDate" class="control-label">Trip Date</label></th>
                                <th class="text-center w-25"><label asp-for="MileageClaims[0].FromWhere" class="control-label"></label></th>
                                <th class="text-center w-25"><label asp-for="MileageClaims[0].Destination" class="control-label"></label></th>
                                <th class="text-center w-25"><label asp-for="MileageClaims[0].Distance" class="control-label"></label></th>


                                <th class="text-center bg-success"><i class="bi bi-plus-circle text-white" id='add-row-mileage'></i></th>
                                <th class="text-center"><i class="bi bi-trash text-danger" id='remove-row-mileage'></i></th>
                            </tr>

                        </thead>

                        <tbody id="BodyMileageRowEntry">
                            @for (int iNumOfRows = 0; iNumOfRows < Model.MileageClaims.Count; iNumOfRows++)
                            {
                                var dtrow = iNumOfRows.ToString();
                                <tr id="@("trMileage" + dtrow)">
                                    <td hidden>
                                        <input asp-for="MileageClaims[iNumOfRows].Id" name="MileageClaims[@iNumOfRows].Id" class="form-control form-control-sm text-right border-secondary" />
                                    </td>
                                    <td hidden>
                                        <input asp-for="MileageClaims[iNumOfRows].ClaimRequestId" name="MileageClaims[@iNumOfRows].ClaimRequestId" class="form-control form-control-sm border-secondary" />

                                    </td>

                                    <td>
                                        <input id="@("idTripDate" + dtrow)" asp-for="MileageClaims[iNumOfRows].TripDate" name="MileageClaims[@iNumOfRows].TripDate" class="form-control form-control-sm border-secondary " />

                                    </td>

                                    <td>
                                        <input id="@("idFromWhere" + dtrow)" asp-for="MileageClaims[iNumOfRows].FromWhere" name="MileageClaims[@iNumOfRows].FromWhere" class="form-control form-control-sm border-secondary " />
                                    </td>

                                    <td>
                                        <input id="@("idDestination" + dtrow)" asp-for="MileageClaims[iNumOfRows].Destination" name="MileageClaims[@iNumOfRows].Destination" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td>
                                        <input id="@("idDistance" + dtrow)" asp-for="MileageClaims[iNumOfRows].Distance" name="MileageClaims[@iNumOfRows].Distance" class="form-control form-control-sm text-end border-secondary currency distance" data-format-auto-parse="true" data-format-max-decimal="2" data-format="Currency" onchange="setRowVal(@dtrow, 'idDistance');" />
                                    </td>
                                    <td colspan="2"></td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="border-0"><input class="form-control form-control-sm  bg-transparent border-0 " readonly tabindex="-1" /></td>

                                <td class="border-0 text-end"><label class="control-label-sm font-weight-bold" tabindex="-1">Total Distance</label></td>
                                <td class="border-0"><input class="form-control form-control-sm text-end" asp-for="MileageTotal" id="idTotalMileage" type="text" value="@Model.MileageTotal" data-format-auto-parse="true" data-format-max-decimal="2" data-format="Currency" readonly tabindex="5001"></td>

                                <td colspan="2" class="border-0"><input class="form-control form-control-sm text-right bg-transparent border-0 " readonly tabindex="5002" /></td>
                            </tr>

                        </tfoot>
                    </table>
                </div>

                <div class="form-row">
                    <div class="form-group col-8">
                        <input type="checkbox" id="otherExpenseCheck" class="form-check-input" asp-for="IsOtherExpense" />
                        <label asp-for="IsOtherExpense" class="form-check-label"></label>
                    </div>
                </div>
                <div class="table-responsive table-responsive-sm d-none" id="toggleExpenseTable">

                    <table class="table table-sm table-bordered p-0" id="tblOtherExpenseData">
                        <thead class="bg-light">
                            <tr>
                                <th class="text-center w-70"><label asp-for="OtherExpenseClaims[0].Type" class="control-label"></label></th>
                                <th class="text-center w-25"><label asp-for="OtherExpenseClaims[0].Cost" class="control-label"></label></th>

                                <th class="text-center bg-success" style="width:5px;"><i class="bi bi-plus-circle text-white" id='add-row-otherExpense'></i></th>
                                <th class="text-center" style="width:5px;"><i class="bi bi-trash text-danger" id='remove-row-otherExpense'></i></th>
                            </tr>

                        </thead>

                        <tbody id="BodyOtherExpRowEntry">
                            @for (int iNumOfRows = 0; iNumOfRows < Model.OtherExpenseClaims.Count; iNumOfRows++)
                            {
                                var dtrow = iNumOfRows.ToString();
                                <tr id="@("trOtherExp" + dtrow)">
                                    <td hidden>
                                        <input asp-for="OtherExpenseClaims[iNumOfRows].Id" name="OtherExpenseClaims[@iNumOfRows].Id" class="form-control form-control-sm text-right border-secondary" />
                                    </td>
                                    <td hidden>
                                        <input asp-for="OtherExpenseClaims[iNumOfRows].ClaimRequestId" name="OtherExpenseClaims[@iNumOfRows].ClaimRequestId" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td>
                                        <input id="@("idType" + dtrow)" asp-for="OtherExpenseClaims[iNumOfRows].Type" name="OtherExpenseClaims[@iNumOfRows].Type" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td>
                                        <input id="@("idCost" + dtrow)" asp-for="OtherExpenseClaims[iNumOfRows].Cost" name="OtherExpenseClaims[@iNumOfRows].Cost" class="form-control form-control-sm text-end border-secondary currency cost" data-format-auto-parse="true" data-format-max-decimal="2" data-format="Currency" onchange="setRowVal(@dtrow, 'idCost');" />
                                    </td>
                                    <td colspan="2"></td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="border-0 text-end"><label class="control-label-sm font-weight-bold ">Total Cost</label></td>

                                <td class="border-0"><input class="form-control form-control-sm text-end" asp-for="OtherExpenseTotal" id="idTotalOtherExpenses" type="text" value="@Model.OtherExpenseTotal" readonly tabindex="5001"></td>

                                <td colspan="2" class="border-0"><input class="form-control form-control-sm text-right bg-transparent border-0 " readonly tabindex="5002" /></td>
                            </tr>

                        </tfoot>
                    </table>
                    <p>* Any amount as "OTHER" must be AUTO RELATED ONLY supported by a receipt.</p>
                </div>

            </section>
        </div>
        <div class="card d-none" id="expenseSelected">
            <section class="container pt-1">
                <p>Please enter your Expense claim details below.</p>
                <div class="table-responsive table-responsive-sm">
                    <table class="table table-sm table-bordered p-0" id="tblExpenseData">
                        <thead class="bg-light">
                            <tr>

                                <th class="text-center w-50"><label asp-for="ExpenseClaims[0].ExpenseDescription" class="control-label"></label></th>
                                <th class="text-center w-25"><label asp-for="ExpenseClaims[0].AccountNumber" class="control-label"></label></th>
                                <th class="text-center w-25"><label asp-for="ExpenseClaims[0].Amount" class="control-label"></label></th>
                                <th class="text-center bg-success" style="width:5px;"><i class="bi bi-plus-circle text-white" id='add-row-expense'></i></th>
                                <th class="text-center" style="width:5px;"><i class="bi bi-trash text-danger" id='remove-row-expense'></i></th>

                            </tr>

                        </thead>

                        <tbody id="BodyExpenseRowEntry">
                            @for (int iNumOfRows = 0; iNumOfRows < Model.ExpenseClaims.Count; iNumOfRows++)
                            {
                                var dtrow = iNumOfRows.ToString();
                                <tr id="@("trExpense" + dtrow)">
                                    <td hidden>
                                        <input asp-for="ExpenseClaims[iNumOfRows].Id" name="ExpenseClaims[@iNumOfRows].Id" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td hidden>
                                        <input asp-for="ExpenseClaims[iNumOfRows].ClaimRequestId" name="ExpenseClaims[@iNumOfRows].ClaimRequestId" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td>
                                        <input id="@("idExpenseDescription" + dtrow)" asp-for="ExpenseClaims[iNumOfRows].ExpenseDescription" name="ExpenseClaims[@iNumOfRows].ExpenseDescription" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td>
                                        <input id="@("idEarningCode" + dtrow)" asp-for="ExpenseClaims[iNumOfRows].AccountNumber" name="ExpenseClaims[@iNumOfRows].AccountNumber" class="form-control form-control-sm border-secondary" />
                                    </td>

                                    <td>
                                        <input id="@("idAmount" + dtrow)" asp-for="ExpenseClaims[iNumOfRows].Amount" name="ExpenseClaims[@iNumOfRows].Amount" class="form-control form-control-sm text-end border-secondary currency amount" data-format-auto-parse="true" data-format-max-decimal="2" data-format="Currency" onchange="setRowVal(@dtrow, 'idAmount');" />
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="border-0"><input class="form-control form-control-sm  bg-transparent border-0 " readonly /></td>

                                <td class="border-0 text-end"><label class="control-label-sm font-weight-bold">Total Expenses</label></td>
                                <td class="border-0"><input class="form-control form-control-sm text-end" asp-for="ExpenseTotal" id="idTotalExpenses" type="text" value="@Model.ExpenseTotal" readonly /></td>

                                <td colspan="2" class="border-0"><input class="form-control form-control-sm text-right bg-transparent border-0 " readonly /></td>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </section>
        </div>


        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
